<!DOCTYPE html>
<html>
    <head>
        {% block omnibus_stylesheets "" %}
    </head>
    <body>
        {% block omnibus_body "" %}
        {% block omnibus_vendor_javascripts "" %}
        {% block omnibus_javascripts "" %}
    </body>
</html>